@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

@theme {
	--font-figtree: "Figtree", sans-serif;

	--color-dark: #000000;
	--color-bg-card: #0f0e0e;
	--color-neutral: #434242;
	--color-light: #f8fafc;
}

body {
	@apply bg-dark font-figtree text-light;
}

.section-container {
	@apply max-w-7xl mx-auto px-4 py-10 md:px-20 md:py-32;
}

.white-text-shadow {
	text-shadow: 0px 0px 10px #ffffff;
}
